<div class="container">
	<p><a href="https://giphy.com/gifs/food-new-york-eat-l3q2yYjmP0Han0ICI">via GIPHY</a></p>
	<div class="jumbotron">
	</div>

	<div class="row">
		<div class="col-md-5 col-md-offset-1" id="order">
			<div class="panel-panel default">
				<h1>Gimme that Good Burger!</h1>
				<ul class="list-group">
					{{#each burgers}}
					{{#unless this.devoured}}
					<li class="list-group-item">
						<div class="input-group">
							<p class="lead">{{this.burger_name}}</p>
							<span class="input-group-btn">

								<form action="burgers/update/{{this.id}}" method="POST">
									<input type="hidden" name="devoured" value="true">
									<button class="btn btn-default btn-lg" type="submit">Devour it!</button>
								</form>
							</span>
						</div>
					</li>
					{{/unless}}
					{{/each}}
				</ul>

			</div>
		</div>

		<div class="col-md-5" id="devouredBurgers">
			<h1>Hmm that's a Good Burger!</h1>
			<div class="panel panel-default">
				<ul class="list-group">
					{{#each burgers}}
					{{#if this.devoured}}
					<li class="list-group-item">
						<p class="lead">{{this.burger_name}}</p>
					</li>
					{{/if}}
					{{/each}}
				</ul>
			</div>
		</div>
	</div>

	<div class="row" id="addBurger">
		<div class="col-md-10 col-md-offset-1">
			<h1>Can I take your order?</h1>

			<form class="create-update-form" action="burgers/create" method="POST">
				<div class="form-group">
					<textarea class="form-control input-lg" type="text" name="burger_name" row="3"></textarea>
				</div>
				<button class="btn btn-default btn-lg" type="submit">Add</button>
			</form>
		</div>
	</div>

</div>